body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bg-primary{
  background-color: rgb(231, 236, 240) !important;
}

.bg-secondary{
  background-color: rgb(234, 247, 252) !important;
}

.text-primary{
  color: rgb(81, 179, 235) !important;
}

.text-secondary{
  color: rgb(105, 117, 126) !important;
}

.bg-white{
  background-color: white;
}

.bg-facebook-me{
  background-image: url(media/image/view-chihuahua.jpg);
  background-position: 0% 25%;
  background-repeat: no-repeat;
  background-size: cover;
}

.name-user{
  font-size: 2vh
}

.line-height-0{
  line-height: 1;
}

.border-3{
  border-style: solid !important;
  border-width: 3px !important;
  border-color: white !important;
}

input::placeholder{
  color: rgb(81, 179, 235) !important;
}

input::-webkit-input-placeholder{
  color: rgb(81, 179, 235) !important;
}
input::-moz-placeholder{
  color: rgb(81, 179, 235) !important;
}
input:-ms-input-placeholder{
  color: rgb(81, 179, 235) !important;
}
input:-moz-placeholder{
  color: rgb(81, 179, 235) !important;
}

.border-right-25{
  border-radius: 8px 0px 0px 8px !important;
}

.border-left-25{
  border-radius: 0px 8px 8px 0px !important;
}

.border-25{
  border-radius: 25px 25px 25px 25px !important;
}

.icon-sm{
  font-size: 18px
}

.line-height-1{
  line-height: 1.2;
}

li.nav-item.active.text-primary{
  color: rgb(81, 179, 235) !important;
}

.btn-primary{
  background-color: rgb(103, 193, 238);
  border-color: rgb(103, 193, 238);
}

.btn-primary:hover{
  background-color: rgb(67, 188, 249);
  border-color: rgb(67, 188, 249);
}

input.form-control.search{
  border-radius: 25px 25px 25px 25px !important;
}
